@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --block-width: 82%;
    --extended-block-width: 100%;
    --title-font-size: 37px;
    --subtitle-font-size: 26px;
    --big-font-size: 14px;
    --medium-font-size: 12px;
    --small-font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-family: 'Roboto Slab';
}

h1.heading {
    font-size: var(--title-font-size);
    font-weight: 700;
}

h2.heading {
    font-size: var(--subtitle-font-size);
    font-weight: 700;
}

.small-text {
    font-size: var(--small-font-size);
}

.logo {
    width: var(--block-width);
    margin: 2.1875em;
}

.header {
    width: var(--block-width);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.vectorimg {
    display: flex;
    justify-content: flex-end;
}

.vectorimg img{
    width: 141.66px;
}

.quote {
    width: 60%;
    padding: 0.6em;
    background-color: #1E4681;
    color: white;
    border-radius: 2.32986px;
    margin-top: 1em;
}

.quote-text {
    font-family: 'Roboto Slab';
    font-size: 11px;
    margin: 0;
}

.quote-author{
    display: flex;
    justify-content: flex-end;
}

h1 {
    line-height: 1.01em;
    margin: 0;
}