@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --block-width: 82%;
    --extended-block-width: 100%;
    --title-font-size: 37px;
    --subtitle-font-size: 26px;
    --big-font-size: 14px;
    --medium-font-size: 12px;
    --small-font-size: 10px;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-family: 'Roboto Slab';
}

h1.heading {
    font-size: var(--title-font-size);
    font-weight: 700;
}

h2.heading {
    font-size: var(--subtitle-font-size);
    font-weight: 700;
}