@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --block-width: 82%;
    --extended-block-width: 100%;
    --title-font-size: 37px;
    --subtitle-font-size: 26px;
    --large-font-size: 14px;
    --medium-font-size: 12px;
    --small-font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-family: 'Roboto Slab';
}

h1.heading {
    font-size: var(--title-font-size);
    font-weight: 700;
}

h2.heading {
    font-size: var(--subtitle-font-size);
    font-weight: 700;
}

.small-text {
    font-size: var(--small-font-size);
}

.medium-text {
    font-size: var(--medium-font-size);
}

.large-text {
    font-size: var(--large-font-size);
}

.logo {
    width: var(--block-width);
    margin: auto;
}

.logo img {
    margin-block: 2em;
    width: 52.19px;
}

.short-info span {
    margin-right: 2%;
}

.short-info {
    width: var(--block-width);
    margin: auto;
}

.short-info img {
    width: 0.5em;
    margin-right: 0.5em;
}

.header {
    display: flex;
    flex-direction: column;

    width: var(--block-width);
    margin: auto;
}

.header-vectorimg {
    display: flex;
    justify-content: flex-end;
}

.header-vectorimg img {
    width: 141.66px;
}

.quote {
    width: 70%;
    padding: 0.6em;
    background-color: #1E4681;
    color: white;
    border-radius: 2.32986px;
    margin-top: 2em;
}

.quote-text {
    font-family: 'Roboto Slab';
    font-size: 11px;
    margin: 0;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}

h1 {
    line-height: 1.01em;
    margin-block: 0.3em;
}

.about {
    width: var(--block-width);
    margin: auto;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-text {
    font-size: 12px;
}

.about-vectorimg {
    display: flex;
    justify-content: center;
}

.about-vectorimg img {
    width: 146.32px;
}

.course {
    width: var(--block-width);
    margin: auto;
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.course div {
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    width: 34%;
}

.course-vectorimg {
    display: none;
}

.course .medium-text {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.whatdowelearn {
    width: var(--block-width);
    margin: auto;
}

.whatdowelearn ul {
    padding-left: 2em;
    font-size: 12px;
}

.course-program {
    width: var(--block-width);
    margin: auto;
}

.program-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program {
    background-color: white;
    border-radius: 0.8em;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    width: 185.92px;
    margin-top: 1.5em;
}

.program p {
    margin: 0;
}

.program h3 {
    margin-top: 0;
}

.about-program {
    padding: 0 0 0.5em 0.5em;
}

.course-review {
    background-color: #EFEFEF;
    padding: 2.25em;
    margin-top: 2.5em;
}

.review {
    background-color: white;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    padding: 1.3em;
}

.review-author {
    display: flex;
    margin-top: 1.3em;
}

.about-author {
    margin-left: 4%;
}

.author-avatar {
    width: 5em;
    height: 5.25em;
}

.about-author p {
    font-family: 'Roboto Slab';
}

.about-program {
    font-size: var(--medium-font-size);
}

.about-program title {
    font-size: var(--large-font-size);
}

.course-info {
    background-color: #9DC9C8;
    overflow: auto;
    padding: 2em;
}

.course-info h1 {
    font-weight: 400;
}

.cost p {
    margin: 0;
}

.description {
    display: flex;
    margin-top: 2em;
    font-size: var(--small-font-size);
}

.description title {
    font-size: var(--medium-font-size);
}

.description div {
    margin-right: 1em;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 2em 0 0 2em;
}

.contact {
    margin-block: 1.5em;
    font-size: var(--medium-font-size);
}

.socnet {
    margin-top: 1em;
}

.socnet img {
    margin-right: 0.2em;
}

.footer #logo {
    width: 53px;
}

/* .copyright {
    margin-block: 2em 1em;
} */

@media (min-width: 1280px) {
    :root {
        --block-width: 82%;
        --extended-block-width: 100%;
        --title-font-size: 80px;
        --subtitle-font-size: 55px;
        --large-font-size: 24px;
        --medium-font-size: 20px;
        --small-font-size: 18px;
    }

    .header {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header-text {
        width: 60%;
    }

    .header-text p {
        font-size: var(--medium-font-size);
    }

    .header-vectorimg {
        width: 40%;
        justify-content: center;
    }

    .header-vectorimg img {
        width: 304px;
    }

    .short-info img {
        width: 1.2em;
    }

    .logo img {
        width: 112px;
        margin-bottom: 5em;
    }

    .quote {
        width: 35%;
        padding: 1.2em;
        margin-inline: auto;
    }

    .quote-text {
        font-size: 25px;
    }

    .quote-author {
        font-size: var(--medium-font-size);
    }

    .about-content {
        flex-direction: row;
    }

    .about-content div {
        width: 47%;
    }

    .about-text {
        font-size: 24px;
    }

    .about-vectorimg {
        justify-content: flex-end;
    }

    .about-vectorimg img {
        width: 314px;
    }

    .course-vectorimg {
        display: block;
    }

    .course-vectorimg img {
        width: 232px;
    }

    .course div {
        width: 20%;
    }

    .course {
        align-items: center;
        justify-content: space-between;
        font-size: 25px;
    }

    .whatdowelearn {
        margin-block: 12em;
    }

    .whatdowelearn ul {
        font-size: 24px;
        width: 45%;
    }

    .program-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin-inline: -3%;
    }

    .program {
        width: 380px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-right: 2em;
        margin-bottom: 1.3em;
    }

    .program img {
        width: 380px;
    }

    .about-program {
        font-size: 25px;
        padding: 0 0 0.8em 0.8em;
    }

    .about-program .title {
        font-size: 30px;
    }

    .without-space h3 {
        margin-bottom: 0;
    }

    .course-review {
        padding-block: 5em;
        padding-inline: 8em;
    }

    .course-review h2 {
        margin-top: 0;
    }

    .review {
        width: 45%;
        padding: 2em;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        line-height: 150%;
    }

    .review-author {
        align-items: center;
    }

    .review-author img {
        width: 150px;
    }

    .about-author img {
        width: 32px;
        height: 31px;
    }

    .course-info {
        padding: 7em;
    }

    .description div {
        width: 27%;
        margin-right: 2em;
    }

    .description .title {
        font-size: 25px;
    }

    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .socnet img {
        width: 33px;
    }
    .footer{
        padding-inline: 7em;
        padding-block: 2em;
    }
    .footer div {
        width: 45%;
    }

    .footer #logo {
        width: 115px;
    }

    .contact {
        margin: 0;
        font-size: 25px;
    }

    .contact img {
        width: 27px;
    }

    .contact p {
        margin-top: 0;
    }

    .copyright{
        margin-top: 8em;
        font-size: var(--small-font-size);
    }
}